header {
  background-color: #232323;
  position: sticky;
  z-index: 100;
  width: 100%;
  top: 0;
  border-width: 0;
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    @include mq("phone", max) {
      padding: 15px 0;
    }
    .hamburger {
      display: none;
      @include mq("laptop", max) {
        display: block;
      }
    }
    .dropdown {
      position: relative;
      display: flex;
      &-content {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        width: 100%;
        top: 80px;
        background: #f5f5f5;
        .prod-tabs {
          &__list {
            display: flex;
            margin: 60px 0;
            flex-direction: column;
            border: none;
            .react-tabs__tab {
              display: flex;
              padding: 20px 60px;
              align-items: center;
              font-weight: 800;
              font-size: 14px;
              line-height: 16px;
              text-transform: uppercase;
              color: $gray;
              bottom: 0;
              font-family: "Raleway";
              height: 60px;
              img {
                margin-left: 10px;
              }
              &--selected {
                border: none;
                border-radius: unset;
              }
            }
          }
        }
        .prod__detail-tab {
          .product {
            &-name {
              margin-top: 30px;
              font-weight: 500;
              font-size: 18px;
              line-height: 21px;
              text-align: center;
              color: #000000;
            }
            &-img {
              width: 130px;
              height: 130px;
            }
            &-content {
              p {
                font-family: "Lato";
                font-size: 14px;
                line-height: 17px;
                color: #000000;
              }
            }
          }
          .react-tabs__tab-list {
            margin-top: 50px;
            border-bottom: unset;
            .react-tabs__tab {
              opacity: 0.7;

              &--selected {
                opacity: 1;
                border: none;
                border-radius: unset;
              }
            }
          }
        }

        .mobile-view {
          display: none;
          h5 {
            color: black;
            font-weight: 500;
            font-size: 22px;
            line-height: 33px;
            padding: 32px 0 16px;
            margin: 0;
            border-bottom: 1px solid rgba(208, 208, 208, 0.4);
          }
          .menu-item {
            padding: 16px 0;
            border-bottom: 1px solid rgba(208, 208, 208, 0.4);
            position: relative;
            &::after {
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 7px solid $cyan;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
            .menu-link {
              font-weight: bold;
              font-size: 14px;
              line-height: 24px;
            }
            small {
              display: block;
              font-weight: normal;
              font-size: 12px;
              line-height: 18px;
            }
          }
        }
        @include mq("laptop", max) {
          position: relative;
          margin: 0px;
          top: 0;
          .container {
            display: none;
          }
          .mobile-view {
            display: block;
          }
        }
      }
      &:hover {
        .dropdown-content {
          display: block;
        }
      }
      @include mq("laptop", max) {
        flex-direction: column;
        &.show {
          .nav-link {
            &::before {
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 7px solid $cyan;
              left: 0;
              margin-right: 24px;
            }
            span {
              display: none;
            }
          }
          .dropdown-content {
            display: block;
          }
        }
      }
    }
    &-nav {
      align-items: center;
      height: 100%;
      .nav-item {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 20px;
      }
      .nav-link {
        color: $white;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;
        &::after {
          content: "";
          position: absolute;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 7px solid $cyan;
          top: 50%;
          right: 0px;
          transform: translateY(-50%);
        }
        @include mq("laptop") {
          padding-left: 20px !important;
          padding-right: 20px !important;
        }
      }
      @include mq("laptop", max) {
        display: none;
        &.active {
          display: flex;
          position: absolute;
          background: white;
          top: 75px;
          left: 0px;
          flex-direction: column;
          height: calc(100vh - 101px);
          width: 100%;
          z-index: 11;
          overflow: auto;
          .nav-item {
            display: flex;
            width: 100%;
            height: auto;
            padding-right: var(--bs-gutter-x, 0.75rem);
            padding-left: var(--bs-gutter-x, 0.75rem);
          }
          .nav-link {
            font-family: "Montserrat";
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            color: black;
            padding: 16px 0 !important;
            width: 100%;
            border-bottom: 1px solid rgba(208, 208, 208, 0.4);
            position: relative;
            display: flex;
            align-items: center;
          }
        }
      }
    }
    .nav-item-auth {
      display: flex;
      gap: 16px;
      span {
        color: #00B1CF;
        font-weight: 800;
        text-transform: uppercase;
      }
    }
  }
}
